<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
  </head>
  <body class="bg-primary">
    <%- include('../components/header') %>

    <main>
      <section class="container pb-4 position-relative selects">
        <h2 class="text-light text-center mb-3">
          Add Company, Complex And Rooms...😇
        </h2>
        <form class="input-group p-1 bg-light rounded-3 mb-2" id="form">
          <span class="input-group-text bg-primary text-light"
            >Name and Image Src</span
          >
          <input
            name="company_name"
            type="text"
            aria-label="First name"
            class="form-control"
            placeholder="Name of company..."
            required
          />
          <input
            name="company_img"
            type="text"
            aria-label="Last name"
            class="form-control"
            required
            placeholder="Source of Image..."
          />
          <button class="btn btn-success" type="submit">Add</button>
        </form>

        <form class="input-group p-1 bg-light mb-2 rounded-3" id="form2">
          <select
            name="company_id"
            class="c_y form-select bg-primary text-light"
            required
          >
            <option value="" disabled selected>Choose one...</option>
            <% all_companies.map(e=>{%>
            <option value="<%= e.company_id %>"><%= e.company_name %></option>
            <%}) %>
          </select>

          <input
            name="complex_name"
            type="text"
            class="form-control w-50"
            placeholder="Name of complex..."
            required
          />
          <button class="btn btn-success" type="submit">Add</button>
        </form>

        <form class="input-group p-1 bg-light rounded-3" id="form3">
          <select
            name="company_id"
            class="r_m form-select bg-primary text-light"
            required
          >
            <option value="" disabled selected>Choose one...</option>
            <% all_complex.map(e=>{%>
            <option value="<%= e.complex_id %>"><%= e.complex_name %></option>
            <%}) %>
          </select>

          <input
            name="room_kv_metr"
            type="number"
            class="form-control"
            placeholder="Room Kv Metr ..."
            required
          />
          <input
            name="room_1kv_price"
            type="number"
            class="form-control"
            placeholder="Room Per Kv Price ..."
            required
          />
          <input
            name="room_count"
            type="number"
            class="form-control"
            placeholder="Room Count ..."
            required
          />
          <input
            name="room_location"
            type="text"
            class="form-control"
            placeholder="Room Location ..."
            required
          />
          <button class="btn btn-success" type="submit">Add</button>
        </form>
      </section>

      <section class="container">
        <div class="rounded-3 body_uy"></div>
      </section>
    </main>

    <div>
      <svg
        class="waves"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
        shape-rendering="auto"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
          />
        </defs>
        <g class="parallax">
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="0"
            fill="rgba(255,255,255,0.7"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(255,255,255,0.5)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(255,255,255,0.3)"
          />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>

    <div class="back-alert"></div>
    <div class="alert aallll alert-info none-alert" role="alert">
      A simple info alert—check it out!
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
